@import "../../mixins/mixins.scss";

.section-contacts {
  margin: 0 auto;
  padding: 40px 15px;
  background-color: var(--color-background);

  @include qhd {
    max-width: 1800px;
  }

  @include uhd-4k {
    max-width: 2400px;
  }

  @include uhd-5k {
    max-width: 3000px;
  }

  @include macbook-retina {
    max-width: 2000px;
  }

  @include imac-retina {
    max-width: 3000px;
  }

  @include desktop-small {
    max-width: 1200px;
  }

  @include tablet {
    max-width: 600px;
  }
}

.text-center_contacts {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-text);

  @include qhd {
    font-size: 2.4rem;
  }

  @include uhd-4k {
    font-size: 2.6rem;
  }

  @include uhd-5k {
    font-size: 2.8rem;
  }

  @include macbook-retina {
    font-size: 2.4rem;
  }

  @include imac-retina {
    font-size: 2.8rem;
  }

  @include tablet {
    font-size: 1.8rem;
  }

  @include mobile() {
    font-size: 1.5rem;
  }
}

.grid-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include tablet {
    grid-template-columns: 1fr;
  }

  @include mobile-xl() {
    grid-template-columns: 1fr;
  }
}

.contact-info {
  font-size: 1rem;
  line-height: 1.5;
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;

  @include qhd {
    font-size: 1.8rem;
  }

  @include uhd-4k {
    font-size: 2rem;
  }

  @include uhd-5k {
    font-size: 2.2rem;
  }

  @include macbook-retina {
    font-size: 1.8rem;
  }

  @include imac-retina {
    font-size: 2.2rem;
  }

  @include tablet {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.4rem;
  }

  @include mobile() {
    font-size: 1.2rem;
  }

  @include mobile-xl() {
    max-width: 500px;
    margin: 0 auto;
  }
}

.contact-info p {
  margin: 10px 0;
}

.contact-info a {
  color: var(--color-primary);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-form {
  font-size: 1rem;
}

.contact-form h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;

  @include qhd {
    font-size: 1.8rem;
  }

  @include uhd-4k {
    font-size: 2rem;
  }

  @include uhd-5k {
    font-size: 2.2rem;
  }

  @include macbook-retina {
    font-size: 1.8rem;
  }

  @include imac-retina {
    font-size: 2.2rem;
  }

  @include tablet {
    font-size: 1.4rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  @include mobile() {
    font-size: 1.2rem;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 4px;

  @include macbook-retina {
    font-size: 1.1rem;
  }

  @include imac-retina {
    font-size: 1.2rem;
  }

  @include tablet {
    font-size: 0.95rem;
  }

  @include mobile {
    font-size: 0.9rem;
  }
}

.form-control:focus {
  outline: none;
  border-color: var(--color-primary);
}

.submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--color-primary);
  color: var(--color-logo);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  @include qhd {
    margin-top: 20px;
    padding: 14px 28px;
    font-size: 1.2rem;
  }

  @include uhd-4k {
    margin-top: 22px;
    padding: 16px 32px;
    font-size: 1.3rem;
  }

  @include uhd-5k {
    margin-top: 24px;
    padding: 18px 36px;
    font-size: 1.4rem;
  }

  @include macbook-retina {
    margin-top: 20px;
    padding: 14px 28px;
    font-size: 1.2rem;
  }

  @include imac-retina {
    margin-top: 24px;
    padding: 18px 36px;
    font-size: 1.4rem;
  }

  @include tablet {
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-size: 0.95rem;
  }

  @include mobile {
    display: block;
    font-size: 0.9rem;
    margin: 0 auto;
    width: fit-content;
  }
}

.submit-button:hover {
  background-color: #2f503da9;
  border-color: #2f503d;
}

.submit-button:disabled {
  background-color: var(--text-muted);
  border-color: transparent;
  cursor: not-allowed;
}
