@import "../../../mixins/mixins.scss";

.main-container {
  z-index: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--color-background);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  @include retina-bg(url("/img/music-controller@2x.webp"));

  @include qhd {
    padding: 30px;
    gap: 30px;
  }

  @include uhd-4k {
    padding: 40px;
    gap: 40px;
  }

  @include uhd-5k {
    padding: 50px;
    gap: 50px;
  }

  @include macbook-retina {
    padding: 30px;
    gap: 30px;
  }

  @include imac-retina {
    padding: 50px;
    gap: 50px;
  }

  @include tablet {
    padding: 15px;
    gap: 15px;
  }
}

.main-page_home {
  position: relative;
  z-index: -1;
}

.main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/music-controller.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

.content-block {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  background-color: var(--color-logo);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #e4b378c9;
  background-color: rgba(22, 76, 152, 0.332);

  @include qhd {
    max-width: 1600px;
    padding: 30px;
  }

  @include uhd-4k {
    max-width: 2000px;
    padding: 40px;
  }

  @include uhd-5k {
    max-width: 2400px;
    padding: 50px;
  }

  @include imac-retina {
    max-width: 2400px;
    padding: 50px;
  }

  @include tablet {
    max-width: 740px;
    padding: 15px;
  }
}

.main-title {
  font-size: 1.95rem;
  color: var(--color-logo);
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  @include qhd {
    font-size: 2.5rem;
  }

  @include uhd-4k {
    font-size: 3rem;
  }

  @include uhd-5k {
    font-size: 3.5rem;
  }

  @include macbook-retina {
    font-size: 2.5rem;
  }

  @include imac-retina {
    font-size: 3.5rem;
  }

  @include tablet {
    font-size: 1.7rem;
  }

  @include mobile() {
    font-size: 1.5rem;
  }
}

.main-description {
  font-size: 0.88rem;
  color: var(--color-logo);
  line-height: 1.5;
  margin-top: 10px;
  text-align: left;

  @include qhd {
    font-size: 1.25rem;
  }

  @include uhd-4k {
    font-size: 1.3rem;
  }

  @include uhd-5k {
    font-size: 1.5rem;
  }

  @include macbook-retina {
    font-size: 1.1rem;
  }

  @include imac-retina {
    font-size: 1.5rem;
  }

  @include tablet {
    font-size: 0.8rem;
  }
}

.block-title {
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--color-logo);
  margin-bottom: 10px;

  @include qhd {
    font-size: 1.8rem;
  }

  @include uhd-4k {
    font-size: 2rem;
  }

  @include uhd-5k {
    font-size: 2.2rem;
  }

  @include macbook-retina {
    font-size: 1.8rem;
  }

  @include imac-retina {
    font-size: 2.2rem;
  }

  @include mobile() {
    font-size: 1.2rem;
  }
}
