<div class="container">
  <main class="main-page-home">
    <div class="main-container">
      <h1 class="main-title" translate>main.title</h1>
      <div class="content-block">
        <p
          class="main-description"
          [innerHTML]="'main.description1' | translate"
        ></p>
        <p
          class="main-description"
          [innerHTML]="'main.description2' | translate"
        ></p>
      </div>
      <h2 class="block-title" translate>main.exploreTitle</h2>
      <div class="content-block">
        <p
          class="main-description"
          [innerHTML]="'main.exploreDescription1' | translate"
        ></p>
        <p
          class="main-description"
          [innerHTML]="'main.exploreDescription2' | translate"
        ></p>
      </div>
      <app-carousel></app-carousel>
    </div>
  </main>
  <app-accordion></app-accordion>
</div>
