<footer class="footer">
  <div class="container">
    <div class="container-footer">
      <div class="footer__grid">
        <div class="footer__desc" [ngStyle]="backgroundStyle">
          <div class="footer__logo">
            <p class="footer-logo_text" translate>footer.logo</p>
          </div>
          <p class="footer-infotext" translate>footer.infoText</p>
        </div>

        <nav class="footer__nav">
          <h3 class="footer__nav-title" translate>footer.servicesTitle</h3>
          <ul class="footer__list">
            <li><a href="#!" translate>footer.services.emailMarketing</a></li>
            <li><a href="#!" translate>footer.services.campaigns</a></li>
            <li><a href="#!" translate>footer.services.branding</a></li>
          </ul>
        </nav>

        <nav class="footer__nav">
          <h3 class="footer__nav-title" translate>footer.musicStudioTitle</h3>
          <ul class="footer__list">
            <li>
              <a routerLink="/services" translate
                >footer.musicStudio.recording</a
              >
            </li>
            <li>
              <a routerLink="/services" translate
                >footer.musicStudio.mastering</a
              >
            </li>
            <li>
              <a routerLink="/services" translate>footer.musicStudio.soundFX</a>
            </li>
            <li>
              <a routerLink="/services" translate>footer.musicStudio.gameFX</a>
            </li>
            <li><a routerLink="/about" translate>footer.musicStudio.all</a></li>
          </ul>
        </nav>

        <nav class="footer__nav">
          <h3 class="footer__nav-title" translate>footer.weAreHereTitle</h3>
          <ul class="footer__list">
            <li>
              <a href="https://www.youtube.com/..." target="_blank" translate
                >footer.weAreHere.youtube</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/..." target="_blank" translate
                >footer.weAreHere.instagram</a
              >
            </li>
            <li>
              <a href="https://www.facebook.com/..." target="_blank" translate
                >footer.weAreHere.facebook</a
              >
            </li>
          </ul>
        </nav>

        <div class="top">
          <a
            (click)="scrollToTop()"
            (keydown.enter)="scrollToTop()"
            tabindex="0"
            role="button"
            class="info-dot"
            [attr.aria-label]="'footer.backToTop' | translate"
          >
            <span class="particle p1"></span>
            <span class="particle p2"></span>
            <span class="particle p3"></span>
            <span class="particle p4"></span>

            <div class="info-dot__circle">
              <svg
                class="arrow-up"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="12"
                  y1="19"
                  x2="12"
                  y2="5"
                  stroke="currentColor"
                  stroke-width="2.5"
                  stroke-linecap="round"
                />
                <path
                  d="M5 12L12 5L19 12"
                  stroke="currentColor"
                  stroke-width="2.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </svg>
            </div>

            <span class="info-dot__ring info-dot__ring--outer"></span>
            <span class="info-dot__ring info-dot__ring--middle"></span>
            <span class="info-dot__ring info-dot__ring--inner"></span>
          </a>
        </div>
      </div>

      <div class="footer__social-row">
        <a
          class="github-link"
          href="https://github.com/Dengodj"
          target="_blank"
        >
          <span translate>footer.social.github</span>
          <img src="assets/img/github2.png" alt="GitHub" class="github-icon" />
        </a>
        <a
          class="mixcloud-link"
          href="https://www.mixcloud.com/denis-goida/burn-residency-2017-dj-dengodjdenis-goida/"
          target="_blank"
        >
          <span translate>footer.social.mixcloud</span>
          <img
            src="assets/img/mixcloud.png"
            alt="MixCloud"
            class="mixcloud-icon"
          />
        </a>
        <a
          class="soundcloud-link"
          href="https://soundcloud.com/denis-gojda-910152141"
          target="_blank"
        >
          <span translate>footer.social.soundcloud</span>
          <img
            src="assets/img/soundcloud2.png"
            alt="SoundCloud"
            class="soundcloud-icon"
          />
        </a>
      </div>

      <div class="footer__bottom-row">
        <div class="footer__copyright">
          <p translate>footer.copyright</p>
        </div>
        <div class="author" translate>footer.author</div>
        <div class="footer__secondary-links">
          <a href="#!" translate>footer.links.terms</a>
          <a href="#!" translate>footer.links.privacy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
