@import "./mixins/mixins.scss";
$font-path: "/fonts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: var(--font-family-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0 0 1em;
}

a {
  padding: 0.2em 0.5em;
  color: var(--color-background);
  text-decoration: none;
  font-size: 0.95rem;
}

a:hover {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  background-color: var(--color-logo);
  border: 1px solid transparent;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 40px;
}

/* Full HD (1920x1080) */
@include full-hd() {
  .container {
    max-width: 1760px;
  }
}

/* 2K/QHD (2560x1440) */
@include qhd() {
  .container {
    max-width: 2000px;
    padding: 0 30px;
    gap: 50px;
  }
}

/* 4K (3840x2160) */
@include uhd-4k() {
  .container {
    width: 90%;
    max-width: 2200px;
    padding: 0 40px;
    gap: 60px;
  }
}

/* 5K (5120x2880) */
@include uhd-5k() {
  .container {
    width: 90%;
    max-width: 2400px;
    padding: 0 50px;
    gap: 70px;
  }
}

/* Apple MacBook Retina (2560x1600, 2880x1800) */
@include macbook-retina() {
  .container {
    width: 90%;
    max-width: 1800px;
    padding: 0 30px;
    gap: 50px;
  }
}

/* Apple iMac Retina 4.5K/5K (4480x2520, 5120x2880) */
@include imac-retina() {
  .container {
    width: 90%;
    max-width: 2400px;
    padding: 0 50px;
    gap: 70px;
  }
}

/* Tablets (768px–1024px) */
@include tablet() {
  .container {
    max-width: 740px;
    padding: 0 15px;
    gap: 30px;
  }
}

/* Large smartphones (576px–767px) */
@include mobile-large() {
  .container {
    max-width: 540px;
    padding: 0 12px;
    gap: 20px;
  }
}

/* Small smartphones  (≤575px) */
@include mobile-small() {
  .container {
    max-width: 100%;
    padding: 0 10px;
    gap: 15px;
  }
}

@include desktop() {
  .container {
    max-width: 1720px;
    padding: 0 20px;
    gap: 40px;
  }
}

@include desktop-small() {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    gap: 30px;
  }
}

@include mobile-xl() {
  .container {
    max-width: 740px;
  }
}

@include mobile() {
  .container {
    max-width: 540px;
  }
}
