@use "mixins" as *;

$font-path: "/fonts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  line-height: 1.2;
  font-size: 16px;
  font-family: var(--font-family-sans-serif);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  display: inline-block;
  padding: 0.2em 0.5em;
  color: var(--text-main);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #cf5858d7 !important;
    transform: translateY(-1px);
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

// Desktop First
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

@include qhd {
  .container {
    max-width: 1700px;
    padding: 0 30px;
  }
}

@include uhd-4k {
  .container {
    max-width: 2400px;
  }
}

@include retina-display {
  .container {
    max-width: 1800px;
  }
}

//(Responsive)

@include desktop-small {
  .container {
    max-width: 1200px;
  }
}

@include tablet {
  .container {
    max-width: 960px;
    padding: 0 20px;
  }
}

@include mobile-xl {
  .container {
    max-width: 720px;
  }
}

@include mobile-large {
  .container {
    max-width: 540px;
  }
}

@include mobile-small {
  .container {
    padding: 0 15px;
  }
}
